@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Tiro+Devanagari+Hindi&display=swap');

@import "~react-image-gallery/styles/css/image-gallery.css";
.font-global{
  font-family: 'Cinzel Decorative', sans-serif;
}

.font-sub-global  {
  font-family: 'Tiro Devanagari Hindi', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-sombra-text {
  color: rgb(213, 13, 213);
  text-shadow: 2px 2px 5px rgb(152, 6, 169);
  transition: 2s;
}
.custom-sombra-text:hover {
  text-shadow: 10px 10px 10px rgb(152, 6, 169);
  color: rgb(255, 252, 255);
  transition: 2s;
}

.talla-checkbox {
  display: inline-block;
  margin-right: 10px;
  color:#bcbbbb;
}

.talla-checkbox input[type="radio"] {
  display: none;
}

.talla-box {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid #bcbbbb;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.talla-box:hover {
 color: #000;
 border-radius: 20px;
  border: 2px solid #000;
}

.talla-box.selected {
  background-color: #ccc; /* Color de fondo tenue */
  color: #000; /* Color del texto */
  border-radius: 20px;
  border: 2px solid #000;
}

/* Modal.css */

/* Estilo para el botón que abre el modal */
.modal-toggle {
  background-color: rgb(213, 13, 213);
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.modal-toggle:hover{
  transition: 0.5s;
  background-color: rgb(152, 6, 169);
}

/* Estilos para el modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

/* Estilos para el contenido del modal */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  color: #000;
}

/* Estilo para el botón de cierre del modal */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

/* Estilos para el formulario y sus elementos */
.modal-content form {
  display: flex;
  flex-direction: column;
}

/* Estilos para el botón de inicio de sesión */
.login-button {
  background-color: rgb(213, 13, 213);
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Otros estilos según tus necesidades */

/* Agrega estos estilos a tu hoja de estilo (styles.css) */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #D50CD5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-left: 8px; /* Ajusta el margen según tus necesidades */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
