@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Tiro+Devanagari+Hindi&display=swap');

@import "~react-image-gallery/styles/css/image-gallery.css";
.font-global{
  font-family: 'Cinzel Decorative', sans-serif;
}

.font-sub-global  {
  font-family: 'Tiro Devanagari Hindi', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-sombra-text {
  color: rgb(213, 13, 213);
  text-shadow: 2px 2px 5px rgb(152, 6, 169);
  transition: 2s;
}
.custom-sombra-text:hover {
  text-shadow: 10px 10px 10px rgb(152, 6, 169);
  color: rgb(255, 252, 255);
  transition: 2s;
}

.talla-checkbox {
  display: inline-block;
  margin-right: 10px;
  color:#bcbbbb;
}

.talla-checkbox input[type="radio"] {
  display: none;
}

.talla-box {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid #bcbbbb;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.talla-box:hover {
 color: #000;
 border-radius: 20px;
  border: 2px solid #000;
}

.talla-box.selected {
  background-color: #ccc; /* Color de fondo tenue */
  color: #000; /* Color del texto */
  border-radius: 20px;
  border: 2px solid #000;
}

